/* WordPress Core styles */
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;text-align:center;padding:5px 3px 10px}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;max-width:98.5%;width:auto;margin:0;padding:0}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}
.alignnone,a img.alignnone,.wp-caption.alignnone,.wp-caption.alignleft{margin:5px 20px 20px 0}
.aligncenter,div.aligncenter,.aligncenter{display:block;margin:5px auto}
.alignright,a img.alignright{float:right;margin:5px 0 20px 20px}
.alignleft,a img.alignleft{float:left;margin:5px 20px 20px 0}
ul{ margin-bottom: 0; }


#header .nav-wrapper{
    background: #383838;
    /*padding: 15px 0;*/
}

#sidebar{    
    float:right;    
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) { 

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) 
and (orientation:portrait){


}
/* iphone */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

/*
 *******************
 * = Global Styles
 *******************
*/

body {
  font-family: 'Lato', sans-serif;

}

p {
  font-family: 'Lato', sans-serif;
  /*font-size: 14px;*/
    /*line-height: 25px;*/
    /*color: #000;*/
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .024em;
    margin-bottom: 10px;
    color: #000;

}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

a {
/*  color: #DB1914;
  transition: .4s;*/
}

a:hover {
/*  color:#666;
  transition: .4s;*/
}

ul, li {
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style-position: inside;
  /*font-size: 16px;*/
    line-height: 24px;
    letter-spacing: .024em;
    /*margin-bottom: 10px;*/
    color: #555;
}


a, a:hover, input, input:focus, button, button:focus, textarea, textarea:focus {
  outline: 0;
  text-decoration: none;
  text-decoration: none;
}
.nav>li>a:focus, .nav>li>a:hover{
  /*background: transparent;*/
  background: linear-gradient(to bottom, #797979 0%, #535353 25%, #3a3a3a 75%, #383838 100%)
}


/*.width5{
  width: 20%;
}*/

/*Padding*/

.nopadding{
  padding:0;
}
.padding10{
  padding: 10px;
}
.padding15{
  padding:15px;
}
.padding20{
  padding: 20px;
}
.padding30{
  padding: 30px;
}
.padding50{
  padding:50px;
}
.paddingtop10{
  padding-top: 10px;
}
.paddingtop15{
  padding-top: 15px;
}
.paddingtop20{
  padding-top: 20px;
}
.paddingtop25{
  padding-top: 25px;
}
.paddingtop30{
  padding-top: 30px;
}
.paddingtop35{
  padding-top: 35px;
}
.paddingtop40{
  padding-top: 40px;
}
.paddingtop45{
  padding-top: 45px;
}
.paddingtop50{
  padding-top: 50px;
}
.paddingtop55{
  padding-top: 55px;
}
.paddingtop60{
  padding-top: 60px;
}
.paddingbottom10{
  padding-bottom: 10px;
}
.paddingbottom15{
  padding-bottom: 15px;
}
.paddingbottom20{
  padding-bottom: 20px;
}
.paddingbottom25{
  padding-bottom: 25px;
}
.paddingbottom30{
  padding-bottom: 30px;
}
.paddingbottom35{
  padding-bottom: 35px;
}
.paddingbottom40{
  padding-bottom: 40px;
}
.paddingbottom45{
  padding-bottom: 45px;
}
.paddingbottom50{
  padding-bottom: 50px;
}
.paddingbottom55{
  padding-bottom: 55px;
}
.paddingbottom60{
  padding-bottom: 60px;
}
.paddingright20{
  padding-right: 20px;
}

/*margin*/
.margintop0{
  margin-top: 0;
}
.margintop10{
  margin-top: 10px;
}
.margintop15{
  margin-top: 15px;
}
.margintop20{
  margin-top: 20px;
}
.margintop25{
  margin-top: 25px;
}
.margintop30{
  margin-top: 30px;
}
.margintop35{
  margin-top: 35px;
}
.margintop40{
  margin-top: 40px;
}
.margintop45{
  margin-top: 45px;
}
.margintop50{
  margin-top: 50px;
}
.margintop55{
  margin-top: 55px;
}
.margintop60{
  margin-top: 60px;
}
.marginbottom10{
  margin-bottom: 10px;
}
.marginbottom15{
  margin-bottom: 15px;
}
.marginbottom20{
  margin-bottom: 20px;
}
.marginbottom25{
  margin-bottom: 25px;
}
.marginbottom30{
  margin-bottom: 30px;
}
.marginbottom35{
  margin-bottom: 35px;
}
.marginbottom40{
  margin-bottom: 40px;
}
.marginbottom45{
  margin-bottom: 45px;
}
.marginbottom50{
  margin-bottom: 50px;
}
.marginbottom55{
  margin-bottom: 55px;
}
.marginbottom60{
  margin-bottom: 60px;
}
.marginright10{
  margin-right: 10px;
}

.imgcenter{
  top: 0;
  left: 0;
  margin:auto;
}

.contentwrap table{
  margin-top: 50px;
    width: 100%;
    border: 1px solid #ddd;
}
.contentwrap table tr:first-child{
    border: 1px solid #ddd;
    color: #fff;
    background: linear-gradient(to bottom, #797979 0%, #535353 25%, #3a3a3a 75%, #383838 100%);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
        letter-spacing: .13em;
  /*padding: 10px;*/
}
.contentwrap table tr:first-child th {
    border: 1px solid #ddd;
    padding: 12px;
    width: 33.33%;
    font-size: 20px;
    text-align: center;
    height: 50px;
}
.contentwrap table td {
    padding: 20px;
        border: 1px solid #ddd;
}
/*
 *******************
 * = Header
 *******************
*/
#header .main-header{
    padding: 15px 0;
}
.header-left {
  margin-top: 56px;
}
.header-right{
  margin-top: 20px;
}
.navbar-nav>li>a{
  color: #fff;
  text-transform: uppercase;
}
.social-wrapper{
  text-align: right;
}
.search-box {
  text-align: right;
}
.social-wrapper i{
  color: #383838;
}
.fa-facebook-official{
  margin-right: 10px;
  margin-bottom: 10px;
}
.nav>li>a{
    padding: 17px 38px;
    font-size: 16px;
    letter-spacing: 2px;
}
.form-search-mini ul{
  list-style: none;
}
.form-search-mini input{
  background: #b3b4b7;
  min-width: 230px;
  position: relative;
  padding: 5px 10px;
}
.form-search-mini input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  padding: 5px 10px;
}
.form-search-mini input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  padding: 5px 10px;
}
.form-search-mini input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  padding: 5px 10px;
}
.form-search-mini input:-moz-placeholder { /* Firefox 18- */
  color: #000;
  padding: 5px 10px;
}

.form-search-mini .icosearch{
  position: absolute;
    top: 35px;
    right: 22px;
    font-size: 16px;

}
.wpcf7-form{
  margin-bottom: 20px;
}
/*
 *******************
 * = innerwrapper
 *******************
*/
/*
.innerheader{
  background: #222222;
  width: 100%;
  color: #fff;
  min-height: 40px;
}
.innerheader-left{
  float: left;
  padding: 10px 10px 10px 20px;

}
.innerheader-right{
  float: right;
  padding-right: 15px;
}
.innersearch-box{
  float: left;
  padding: 6px;
  border-left: 2px solid #3d3d3d;
}
.innersearch-box .form-search-mini input{
  background: #222222;
  color: #fff;
}
.innersearch-box .form-search-mini input::-webkit-input-placeholder { 
  color: #fff;
  padding: 5px 10px;
}
.innersearch-box .form-search-mini input::-moz-placeholder { 
  color: #fff;
  padding: 5px 10px;
}
.innersearch-box .form-search-mini input:-ms-input-placeholder {
  color: #fff;
  padding: 5px 10px;
}
.innersearch-box .form-search-mini input:-moz-placeholder { 
  color: #fff;
  padding: 5px 10px;
}

.innersocial-wrapper{
    float: left;
    padding-left: 15px;
    padding-top: 10px;
    border-left: 2px solid #3d3d3d;
}
.innersocial-wrapper i{
  color: #fff;
}
.innersearch-box .form-search-mini .icosearch {
    position: absolute;
    top: 14px;
    right: 84px;
    font-size: 16px;
}

#innerheadermenu {
  min-height: 100px;
}

#innerheadermenu .navbar-nav>li>a{
  padding: 38px 36px;
  color: #777779;
  font-size: 12px;
  font-weight: 600;
}
#innerheadermenu .nav>li>a:focus,#innerheadermenu .nav>li>a:hover{
  color: #000;
  background: transparent;
  border-bottom: 4px solid #000;
}

#innerheadermenu .aligncenter{
  margin: 24px auto;
}
.banner{
  position: relative;
}
.banner img{
  height: 300px;
  width: 100%;
}
#innerheadermenu .navbar-nav .current-menu-item a{
  color: #000;
}  

#menu-main-menu .first-menu-item{
  border: none;
}
.current-menu-item:hover ,.current-menu-item:focus{
  border: none;
}
.current-menu-item{
  color: #000;
  background: transparent;
  border-bottom: 4px solid #000;
}*/

.banner{
  position: relative;
}
.banner img{
  height: 300px;
  width: 100%;
}

/*Contact Form-7 Css*/

#careerform .wpcf7-form input,#careerform .wpcf7-form textArea,#careerform .wpcf7-form select{
  border: 1px solid #ccc;
}
#careerform div.wpcf7-mail-sent-ng,#careerform div.wpcf7-validation-errors{
  border: 1px solid #ffafaf;
  margin-top: 10px;
}

/*div.wpcf7-mail-sent-ng, div.wpcf7-validation-errors{
  border: 1px solid #ffafaf;
  margin-top: 10px;
}
*/
form.wpcf7-form p{margin: 0px;}
.wpcf7-form input, .wpcf7-form textArea, .wpcf7-form select {
   width: 100%;
   height: 50px;
   margin-bottom: 10px;
   padding: 12px;
   background-color: #EFEFEF;
   border: 2px solid #C3C3C3;
   border-radius: 2px;
}
.wpcf7-form textarea {
   height: 180px;
}
.wpcf7-form .wpcf7-submit {
   display: inline-block;
   padding: 0px 15px;
   width: 120px;
   color:#fff;
   background-color: #6d6e71;
   border: 2px solid #6d6e71;
   letter-spacing: 2px;
   margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    transition:0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.wpcf7-form .wpcf7-submit:hover{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition:0.5s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform:scale(1.1);
}

div.wpcf7-mail-sent-ng,div.wpcf7-validation-errors{
   border: 2px solid #6d6e71;
   background-color: #FFAFAF;
   color: #FF0000;
   margin: 0em 0.5em 2em;
   padding: 1.2em 1em;
}

div.wpcf7-mail-sent-ok {
   border: 2px solid #C4F3B0;
   background-color: #CCFFF1;
   color: #52800D;
   margin: 0em 0.5em 2em;
   padding: 1.2em 1em;
}


.tblock-title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 24px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.list-icons {
    padding-left: 0;
    margin-left: 36px;
    list-style-type: none;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    margin-bottom: 20px;
}

.list-unstyled li {
    margin-bottom: 12px;
}
.list-icons > li {
    position: relative;
    color: #000;
}
ul.social-icons {
    padding: 0;
    list-style: none;
}
.list-icons > li > i {
    position: absolute;
    left: -36px;
    width: 36px;
    top: 2px;
    text-align: center;
    color: #393f4d;
    font-size: 18px;
    vertical-align: middle;
}


.tblock-socialtitle {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}



#contactaddid ul {
    list-style-type: none;
    list-style-position: inside;
    width: 100%;
}

#contactaddid ul li {
    margin-bottom: 5px;
    padding: 0 0 6px;
    position: relative;
    border-bottom: none;
    float: left;
}
#contactaddid ul li:before {
    font-size: 0px;
    left: 0;
    top: 0;
}
#contactaddid ul li a {
    display: block;
}
#contactaddid .dt-sc-social-icons li a {
    font-size: 20px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    width: 30px;
    display: block;
    text-align: center;
    color: #333;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    text-decoration: none;
}
#contactaddid .dt-sc-social-icons {
    float: left;
    margin: 0 0 10px 0;
    padding: 10px 0 0;
    display: inline-block;

}
#contactaddid .dt-sc-social-icons li {
    padding: 0;
    border-radius: 50%;
}
#contactaddid .dt-sc-social-icons li {
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
.dt-sc-social-icons li:after {
    content: "";
    width: 30px;
    height: 0px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    border-radius: 50%;
    z-index: -1;
}
#contactaddid .dt-sc-social-icons li:first-child {
    margin-left: 0;
    margin-right: 10px;
}
#contactaddid .dt-sc-social-icons li .twitter{
  margin-right: 10px;
}
#contactaddid .dt-sc-social-icons li:after {
    width: 30px;
}
#contactaddid .dt-sc-social-icons li:hover:after {
    height: 30px;
    color: #fff;
}
  
#contactaddid .dt-sc-social-icons li.facebook:hover:after{
    background-color: #3b59bb;
}

#contactaddid .dt-sc-social-icons li.facebook a{
    color: #3b59bb;
}

#contactaddid .dt-sc-social-icons li.twitter:hover:after {
    background-color: #009ad3;
}
#contactaddid .dt-sc-social-icons li.twitter a  {
  color: #009ad3; 
}

#contactaddid .dt-sc-social-icons li.instagram:hover:after {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}
#contactaddid .dt-sc-social-icons li.instagram a  {
  color: #8a3ab7; 
}
#contactaddid .dt-sc-social-icons li:hover a {
    color: #fff !important;
}
/*
 *******************
 * = dropdown
 *******************
*/
#menu-main-menu .dropdown-menu{
    background: #383838;
    /*width: 100%;*/
    font-size: 14px;
        padding: 10px 0px;
}
#menu-main-menu .dropdown-menu>li>a{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding: 3px 15px;
  color: #fff;
  letter-spacing: 1.2px;
}
#menu-main-menu .dropdown-menu>li>a:hover{
  background: linear-gradient(to right, #797979 0%, #535353 25%, #3a3a3a 75%, #383838 100%);
}
/*
 *******************
 * = category News
 *******************
*/
.shadowimg{
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
          display: inline-block;
}
.newsection{
  background: #fff;
  margin-bottom: 30px;
  padding: 30px;
}
.newswrap{
  text-align: center;
}

#category{
  background-color: #f3f3f3
}
.news-header{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.sgnewwrap .newswrap{
  text-align: left;
}
.sgnewwrap .news-intro{
  margin-top: 0;
}
.sgnewwrap .news-header h4{
  letter-spacing: .12em;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 26px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  float: left;
}
.news-header h4{
  letter-spacing: .12em;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 26px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  float: left;
}
.news-header span{
  width: 100%;
  float: left;
  display: inline-block;
  /*text-align: center;*/
  margin-top: 10px;
}
.news-date {
    color: #c2c2c2;
}
.news-date{
    font-size: 12px;
    letter-spacing: .12em;
    text-transform: uppercase;
}
.news-intro{
  /*padding:0 30px 20px 30px;*/
  margin-top: 20px;
}
.news-intro p {
    color: #777779;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .02em;
}
.news-readmore{
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  float: right;
  display: inline-block;
  letter-spacing: .12em;
}
/*
 *******************
 * = Products
 *******************
*/
.productwrap{
  box-shadow: 0 0px 2px 0px #000;
  display: inline-block;
}
.productwrap img{
  /*border:1px solid #ccc;*/
      box-shadow: 1px 1px 1px #ccc;
  
}
.producttitle{
  padding: 20px 30px 20px 30px;
  letter-spacing: .12em;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 26px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
}
/*
 *******************
 * = single product
 *******************
*/
.panel-default{
  border: none;
}
.panel-heading{
    letter-spacing: .02em;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 26px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
    box-shadow: 0px 1px 1px #ccc;
}
.panel-title a{
  font-size: 16px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
.panel-title span{
  float: right;
}

.asdf{
  width: 300px;
}
#prodcarousel.flexslider{
  box-shadow: none;
  border: none;
}
#prodcarousel .flex-viewport{
  /*padding: 20px;*/
}
.flex-direction-nav a:before{
  margin-top: 10px;
}
/*
 *******************
 * = Page
 *******************
*/
.pagetitle{
    color: #fff;
    position: absolute;
    top: -66px;
    margin:0;
    font-size: 60px;
    font-weight: 600;
    text-shadow:0px 1px 2px #000;
}
.contentwrap{
  background: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 70px;
}
/*.contentwrap ul li:before{
  content: "\f0d0";
    color: #b322ce;
    font-family: fontawesome;
    font-weight: normal;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 16px;
}
.contentwrap ul{
  width: 100%;
  display: inline-block;
}
.contentwrap ul li {
    display: block;
    font-size: 14px;
    padding: 0 0 8px 30px;
    position: relative;
    font-weight: normal;
    width: 50%;
    float: left;
}*/
.imgwrapper{
  letter-spacing: 1px;
  position: relative;
  /*margin-bottom: 30px;*/
  box-shadow: 1px 1px 10px #000;
  display: inline-block;
}
.imgcontent{
  position: absolute;
    top: 0;
    padding: 20px;
    left: 0;
    height: 100%; 
    width: 100%;
    transition:0.5s;   
}
.imgwrapper:hover .imgcontent{
  background: rgba(0,0,0,0.5);
    transition:0.5s;
}
.prodtitle{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  bottom: 0px;
  position: absolute;
  transition:0.5s;   
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.proddescription{
  color: #fff;
  opacity: 0;
  position: relative;
  bottom: -10px;
  transition:0.5s;  
}
.imgwrapper:hover .prodtitle{
  bottom: 20px;
  transition:0.8s;
  background: rgba(0,0,0,0.5);
  width: 100%;
  padding: 10px;
}
.imgwrapper:hover .proddescription{
  bottom: -228px;
  opacity: 1;
  transition:1s;  
  text-align: left;
}
.bigeffect{
  overflow: hidden;
}

.bigeffect img{
  transition:0.5s;
}
.bigeffect:hover img{
  transform:scale(1.1);
  transition:0.5s;
}
.paddingnone{
  padding: 5px;
}
/*
 *******************
 * = Single Portfolio
 *******************
*/
.sgportfolio{
  /*margin-top: 30px;*/
  /*margin-bottom: 30px;*/
  /*display: inline-block;*/
}
.contentwrap h2,.contentwrap h3,.contentwrap h4,.contentwrap h5,.contentwrap h6{
    /*font-size: 24px;*/
    color: #000;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .13em;
    text-transform: uppercase;

}
/*
 *******************
 * = Single News
 *******************
*/
.sgnewwrap{
  background: #fff;
  padding-top: 50px;
  padding-bottom: 70px;
}
.sgnewtitle{
      font-size: 24px;
      color: #000;
      font-weight: 600;
    line-height: 32px;
    letter-spacing: .13em;
}
.sgnewwrap p ,.news-intro p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .024em;
    margin-bottom: 10px;
    color: #000;
}
.sgnewwrap h1,h2,h3,h4,h5,h6 {
  margin-bottom: 20px;
  margin-top: 20px;
}

/*
 *******************
 * = Single Career
 *******************
*/
.careertitle{
        font-size: 24px;
      color: #000;
      font-weight: 600;
    line-height: 32px;
    letter-spacing: .13em;
    text-transform: uppercase;

}
.btn-apply:hover{
  /*background-color: #fff;
  color: #000;*/
-webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition:0.5s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform:scale(1.1);
}
.btn-apply{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition:0.5s;
  display: inline-block;
   padding: 10px 15px;
   width: auto;
   color:#fff;
   font-size: 16px;
   background-color: #6d6e71;
   border: 2px solid #6d6e71;
   border-radius: 4px;
   letter-spacing: 2px;
   margin: 20px 0px 60px 0;
  }
/*
 *******************
 * = Map
 *******************
*/
#infowindow{
  /*width: 50%;*/
}
#bodyinfowindow{

}
.maptitle{
  text-align: center;
  font-size: 30px;
  line-height: 32px;
  position: relative;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
  font-weight: 700;
      border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
/*
 *******************
 * = innerfooter
 *******************
*/

.innerfooter{
  background: #e5e5e5;
  padding: 20px 0 20px 0;
  font-size: 16px;
}
.innerfooter i{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 7px;
    margin-right: 10px;
    color: #fff;
    border-radius: 50%;
    background: #515151;
    transition:0.5s;
}
.innerfooter i:hover{
  transform: scale(1.2);
  transition:0.5s;
}

.innfooterinfowrap a{
  color: #333;
}

.innerfooter ul {
    list-style-type: none;
    list-style-position: inside;
    width: 100%;
}
.innerfooter ul li .facebook i{
  background: #3b59bb;
}
.innerfooter ul li .twitter i{
  background: #009ad3;
}
.innerfooter ul li .instagram i{
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}

.innerfooter ul li {
    margin-bottom: 5px;
    padding: 0 0 6px;
    position: relative;
    border-bottom: none;
    /*float: left;*/
    display: inline-block;
}
.innerfooter ul li:before {
    font-size: 0px;
    left: 0;
    top: 0;
}
.innerfooter ul li a {
    display: block;
}

/*
 *******************
 * = slider
 *******************
*/
.soliloquy-pager{
  display: none;
}
.soliloquy-container .soliloquy-next{
  width: 40px !important; 
  height: 50px !important;
  right: 20px !important;
  background: url("../images/arrow-r.png") no-repeat scroll 50% 50% !important;
}
.soliloquy-container .soliloquy-prev{
  left: 20px !important;
  width: 40px !important; 
  height: 50px !important;
  background: url("../images/arrow-l.png") no-repeat scroll 50% 50% !important; 
}
/*
 *******************
 * = front Page
 *******************
*/
.homewrap {
  position: relative;
}

.welcomemsg {
    position: absolute;
    right: 0;
    width: 545px;
    padding: 80px 50px;
    bottom: 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
}
h1.underline{
    letter-spacing: 1.5px;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}
h1.underline:after {
    content: '';
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    width: 12%;
    left: 0;
}
.welcomeexcept{
  font-size: 16px;
  letter-spacing: 1.5px;
}
label{
  font-size: 16px;
}
.form-control{
  font-size: 16px;
}
/*
 *******************
 * = Footer
 *******************
*/
#footer{
  background: #2d2d2d;
  font-size: 14px;
  /*display: inline-block;*/
  /*width: 100%;*/
  /*padding: 15px 20px;*/
  min-height: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.leftfooter{
  float: left;
  padding: 15px;
  font-size: 12px;
}
.leftfooter a{
  text-decoration: none;
  color: #fff;
}
.rightfooter a{
  text-decoration: none;
  color: #fff;
}
.rightfooter{
    padding-right: 15px;
    font-size: 12px;
    padding-top: 5px;
    float: right;
    display: inline-block;  
}
/*.sgportfoliodesc{
padding:40px;line-height: 24px;letter-spacing: .024em;
}*/
/* pagination */
#pagination{
  text-align: center;
}
.page-numbers{
    margin: 0px 3px 3px 0;
    padding: 5px 10px;
    border-bottom: 2px solid #6D7577;
    border-radius: 3px;
    background: #6d6e71;
    color: #fff;
    text-align: center;
}
.page-numbers:hover, .page-numbers.current{
    background: #2d2d2d;
    color: #fff;
    text-decoration: none;
} 

.img404{
  display: inline-block;
}
.error-back{
  display: inline-block;
    padding: 10px 15px;
    width: auto;
    color: #fff;
    background-color: #c0ac79;
    border: 2px solid #c0ac79;
    border-radius: 4px;
    letter-spacing: 2px;
    margin: 20px 0px 60px 0;
}
.error-back:hover{
  color: #c0ac79;
  background-color: #fff;
  transition:0.5s;
}
@media (max-width: 1280px){
    .nav>li>a{
    padding: 17px 20px;
  }
}
@media (max-width: 1200px){
#innerheadermenu .navbar-nav>li>a {
    padding: 38px 20px;
}
}
@media (max-width: 1024px){
  .prodtitle{
    font-size: 14px;
  }
  .banner img{
    height: 200px;
  }
  /*#innerheadermenu .navbar-nav>li>a{
    padding: 38px 20px;
  }*/
  .imgwrapper:hover .proddescription {
    bottom: -150px;
    opacity: 1;
    transition: 1s;
  }


}


/*.................Mobile menu css...................*/
#menu-mobile-menu{
    display: none;
}
   
@media(max-width: 991px) {
  .dropdown-menu>li>a{
    color: #fff;
    text-transform: uppercase;
  }
  .innfooterinfowrap{
    margin-bottom: 10px;
  }
    #innerheadermenu .navbar-nav>li>a {
    padding: 8px 20px;
}
  .udline:last-child .brandlogowrap {
    border-width: 1px;
}
  .brandlogowrap:nth-child(4){
    border-width: 1px;
  }
  .brandlogowrap{
    border-width: 1px;
  }
  .catetitle{
      min-height: 90px;
    }
  .visible-xs{
    display: block !important;
  }
  .hidden-xs{
    display: none !important;
  }
    .nav-wrap{
      display: none;
    }
    .navbar-collapse.collapse {display: none !important;}
    .navbar-collapse.collapse.in {display: block !important;}
    .navbar-toggle {
background: #c0ac79;
      right: 60px;
        top: 13px;
    position: absolute;
    display: block;
    }
    .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    .mobile-menubar{
      display: block;
    }
    .navbar-nav > li > a {
      width: 100%;
    }
    .navbar-nav>li{
        float: none;
    }
    #menu-mobile-menu{
        display: block;
    }
    #mobile-menu ul{
        width: 100%;
            background: #c0ac79;
    }
    .current-menu-item ,.navbar-nav>li>a:hover{
    background: #ccc !important;
  }
  .navbar-nav>li>a {
    padding: 10px 20px;
    font-size: 16px;
}
  #menu-left, #menu-right{
    display: none;
  }

  }
@media (max-width: 860px){
  #innerheadermenu .navbar-toggle{
    top: 32px;
  }
.leftfooter, .rightfooter{
  font-size: 12px;
}

}
@media (max-width: 768px){
  .pagetitle{
    font-size: 38px;
  }
  .centerimg{
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .centergallery{
  text-align: center;
}
  .shadowimg{
    display: inline-block;
  }
  .sgnewwrap .newswrap{
  text-align: center;
}
    .welcomemsg{
    /*width: 100%;*/
    padding: 10px 20px;
  }
   /* .sgportfoliodesc{
  padding: 0px;
  margin-top: 10px;
}*/

  .flexslider{
    margin: 0 0 10px;
  }
  .leftfooter, .rightfooter{
  font-size: 14px;
}
  #innerheadermenu .nav>li>a:focus, #innerheadermenu .nav>li>a:hover, .current-menu-item{
    border: none;
  }
  #innerheadermenu .aligncenter{
    text-align: center;
  }
  .identity{
    display: inline-block;
  }
  #header .nav-wrapper{
    background:transparent;
  }
  .navbar-collapse{
    padding-right: 0;
    padding-left: 0;
  }
  #innerheadermenu .navbar-nav>li>a{
    color: #fff;  
  }
  #footer{
    display: inline-block;
    width: 100%;   
    text-align: center;
  }
  .leftfooter{
    float: none;
  }
  .rightfooter{
    float: none;
  }
  .imgwrapper:hover .proddescription{
        bottom: -210px;
        text-align: left;
  }
  .proddescription{
    text-align: left;
  }

}
@media (max-width: 767px){
  .header-left{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .social-wrapper{
    text-align: center;
  }
  .search-box{
    text-align: center;
  }
      .form-search-mini .icosearch{
        right: 265px;
  }
  .navbar-toggle{
    top: 74px;
    right: 0;

  }
  .form-search-mini input{
    min-width: 170px;
  }
}
@media (max-width: 712px){
.welcomemsg{
  padding: 40px 50px;
}
}
@media (max-width: 640px){

  .navbar-nav{
    margin: 0;
  }
  .form-search-mini .icosearch{
        display: none;
  }
  .imgwrapper:hover .proddescription{
        bottom: -220px;
  }

  .flexslider{
    margin: 0 0 10px 0;
  }

  .innerheader{
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .innerheader-left{
    float: none;
  }
  .innerheader-right{
    float: none;
  }
  .innersocial-wrapper{
    float: none;
    display: inline-block;
  }
  .innersearch-box{
    float: none;display: inline-block;
  }
  .innersearch-box .form-search-mini .icosearch{
    top: 52px;
    right: 235px;
  }
}
@media (max-width: 580px){
  .welcomemsg{
    width: 100%;
    padding: 10px 20px;
  }
  .welcomemsg h1.underline{
    font-size: 16px;
  }
  .welcomeexcept{
    font-size: 14px;
  }
}
@media (max-width: 480px){

  .form-search-mini .icosearch {
    right: 144px;
  }
  .sgnewtitle{
    font-size: 18px;
  }
  .news-header span {
    width: 100%;
    text-align: left;
  }
  .news-header h4{
    width: 100%;
  }
  .pagetitle{
    font-size: 28px;
  }
  .maptitle{
    font-size: 26px;
  }
  .contentwrap h2{
    font-size: 22px;
  }
  .contentwrap h3, .contentwrap h4, .contentwrap h5, .contentwrap h6{
    font-size: 18px;
  }
  .contentwrap ul li{
   width: 100%; 
  }
}
@media (max-width: 380px){
  .soliloquy-container{
    display: none;
  }
  .welcomemsg{
    position: relative;
    padding: 40px 20px;
  }
  /*#innerheadermenu .navbar-toggle {
    top: 0;
  }*/
  .navbar-toggle {
    top: 122px;
  }
}
@media (max-width: 351px){

  .navbar-toggle {
    top: 138px;
  }
}
@media (max-width: 320px){
  .news-intro p{
    font-size: 14px;
  }
  .news-header h4,.sgnewwrap .news-header h4{
    font-size: 14px;
  }
  .news-readmore{
    margin-bottom: 20px;
  }
  .newsection{
    padding: 0;
  }
  .leftfooter, .rightfooter{
    font-size: 12px;
  }
  .news-intro {
      padding: 0 15px 20px 15px;
  }
  .news-header{
    padding: 15px;
  }
  .banner img{
    height: 140px;
  }
  .navbar-collapse.collapse.in{
    float: left;
    width: 100%;
  }
.aligncenter{
  float: left;
}
.form-search-mini input{
  min-width: 160px;
}
.imgwrapper:hover .proddescription {
    bottom: -130px;
}
/*.sgportfoliodesc{
  padding: 0px;
}*/
}
